html, body {
  height: 100%;
  margin: 0;
}
core-scroll-header-panel {
  height: 100%;
}

core-toolbar {
  background-color: black;
  opacity: 0.95;
}
paper-tabs {
  color: white;
  height: 75%;
  width: 75%;
  opacity: 0.55;
  position: relative;

}

.m-header {
  font-size: 21px;
  color: white;
  text-align: center;
  width: 100%;
}

.h-title {
  font-size: 21px;
  color: black;
}
.r-title {
 text-shadow: 3px 3px white;
}
.r-title:hover {
    text-shadow: 1px 1px grey, 
                2px 2px grey, 
                3px 3px grey;
   -webkit-transition: all 1s ease-out;
}

.video { 
  -webkit-filter: grayscale(100%) blur(1px);
  position: fixed;
  background-image: url("background.jpg");
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  z-index: -100;
  background-color: black;
  background-size: cover;
  object-fit: contain;
  transition: 1s opacity;
}

body:hover .video {
  -webkit-filter: grayscale(10%) blur(1px) contrast(85%) brightness(85%);
}

body:hover .register {
  background: rgba(0,0,0,0.5);
}

body:hover .l-title {
  -webkit-filter: grayscale(0%);
}
.register, .login { 
  -webkit-animation: fadein 4s;
  position: relative;
  overflow: hide;
  display: inline-block;
  width: 35%;
  height: 40%;
  border: 3px solid white;
  padding: .4rem;
  margin: 1rem auto;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-size: 1.2rem;
  font-weight:100;
  background-color: silver;
  opacity: 0.5; 
  color: black;
}

@-webkit-keyframes fadein {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0.33;}
    75%  {opacity:0.66;}
    100% {background: 1;}
}

.register:hover, .login:hover {
    box-shadow: 3px 3px 0px black; 
}

.l-title {
  -webkit-filter: grayscale(100%);
 -webkit-animation: fadein 5s;
 display: block;
 font-size: 5rem;
 text-transform:lowercase;
 font-family: 'Advent Pro', sans-serif;
 opacity: 0.85;
 color: #f78774;
 text-align: center;
 position: relative;
  padding: .4rem;
  margin: 1rem auto;
  text-shadow: 3px 3px 1px black; 
}

paper-button {
  background-color: black;
  color: white;
}

core-pages {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

core-toolbar#nav {
    background-color: white;
}

core-header-panel.side {
  background-color: #f1f1f1;
  opacity: 0.85;
}
core-scroll-header-panel::shadow #headerBg {
    background-color: rgba(56,56,56,1);
    color: white;
}

core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: grey;
  color: white;
 }   

core-toolbar {
      color: black;
      background-color: transparent;
    }
.page-footer {
  border: solid black 3px;
  background-color: white;
}

paper-input-decorator /deep/ .focused-underline {
  background-color: white;
}

paper-tabs paper-tab::shadow #ink {
  color: white;
}
paper-tabs::shadow #selectionBar {
  background-color: black;
}