<!-- ** use Less or Stylus -->
html, body {
  height: 100%;
  margin: 0;
}
core-header-panel {
  height: 100%;
}

core-toolbar {
  background-color: black;
  height: 10%;
  opacity: 0.95;
}
paper-tabs {
  text-align: center;
  color: white;
  opacity: 0.55;

}

.h-title {
  font-size: 21px;
  color: orange;
}

.r-title {
    text-shadow: 1px 1px grey, 
                2px 2px grey, 
                3px 3px grey;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}

.video { 
  position: fixed;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  z-index: -100;
  background-image: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  object-fit: contain;
  transition: 1s opacity;
}
.register, .login { 
  position: relative;
  display: block;
  width: 25%;
  height: 25%;
  padding: .4rem;
  margin: 1rem auto;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-size: 1.2rem;
  font-weight:100;
  opacity: 0.65; 
  color: white;
  box-shadow: 3px 3px black,
                6px 6px white;
  background: rgba(0,0,0,0.5);
}
.register:hover, .login:hover {
    top: -1px;
    position: relative;
    background: grey;
    box-shadow: 3px 3px 0px white; 
}
paper-button {
  text-transform: uppercase;
  margin-top: 12px;
}

.l-title {
 display: block;
 font-size: 5rem;
 text-transform:lowercase;
 font-family: 'Advent Pro', sans-serif;
 opacity: 0.85;
 color: #2b0042;
 text-align: center;
 position: relative;
  width: 20%;
  height: 20%;
  padding: .4rem;
  margin: 1rem auto;
 text-shadow: 3px 0px 1px #ff5252,
               -3px 0px 0px #448aff ;
}
.l-title:hover {
  text-shadow: -3px -3px 0px #ff5252,
             3px 3px 1px #448aff ;
}

paper-toast {
  bottom: 0;
  left: 0;
  width: 100%;
}
