
<!DOCTYPE html>
<html>
<body unresolved>
  <polymer-element name="selector-examples">
      <style>
        .list {
          display: block;
          border: 1px solid #ccc;
          border-bottom: none;
          background: #666;
          color: white;
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .list > * {
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          border-bottom: 1px solid #ccc;
        }

        .list > *.core-selected {
          background: #333;
        }

      </style>

      <h2>Vote</h2>
      <core-selector class="list" selected="{{multiSelected}}" multi>
        <div>Item 0</div>
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
        <div>Item 4</div>
      </core-selector>

  </polymer-element>

</body>
</html>
