<template name="main">
    <div class="l-main">
        <h2 class="l-title"><span style="visibility: hidden;">|</span><span> F </span>.lunch</h2>
    </div>
    <video autoplay  class="video" poster="media/background.jpg" id="l-video" loop>
        <source src="public/media/background-video.mp4" type="video/mp4">
    </video>
    {{> yield}}
    <script type="text/javascript">
        var video = document.getElementById("l-video");
        <!-- Sound on or Off by Default -->
        video.muted= true;
    </script>
</template>
