html, body {
  height: 100%;
  margin: 0;
  overflow: scroll !important;
  background-color: black;
}
core-scroll-header-panel {
  height: 100%;

}

paper-tabs {
  color: white;
  height: 75%;
  width: 75%;
  opacity: 0.75;
  position: relative;
  font-size: 2vmin;

}

div#mainContainer {
  height: 100%;
  width: 100%;
}


.m-header {
  font-size: 21px;
  color: white;
  text-align: center;
  width: 100%;
}

.h-title {
  font-size: 21px;
  color: white;
}
.d-title {
 font-size: 3vmin;
 padding-top: 1.5vmax;
 font-family: 'Advent Pro', sans-serif;
 opacity: 0.85;
 color: white;
 text-align: center;
 padding-bottom: 1vmax;
 position: relative;
}
.d-title span {
  background-color: red;
  color: white;
  padding-top: 7px;
}

.r-title {
  color: white;
}

.video { 
  -webkit-filter: saturate(0.2) contrast(0.9);
  position: fixed;
  background-image: url("media/background.jpg");
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  z-index: -100;
  background-color: black;
  background-size: cover;
  object-fit: contain;
  transition: 1s opacity;
}

body:hover .video {
 /* -webkit-filter: grayscale(10%) blur(1px) contrast(85%) brightness(85%);*/
}

body:hover .register {
  background: rgba(0,0,0,0.5);
}

/*body:hover .l-title {
  -webkit-filter: grayscale(0%);
}*/
form { 
  -webkit-animation: fadein 4s;
  position: relative;
  width:70vmin;
  height:70vmin;
  border: 4px solid white;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-size: auto;
  border-radius: 50%;
  font-size: 3vmin;
}
form::after {
  content: "";
  background-image: url("textures/texture.png");
  opacity: 0.40;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@-webkit-keyframes fadein {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0.33;}
    75%  {opacity:0.66;}
    100% {background: 1;}
}

.l-title {
 -webkit-animation: fadein 5s;
 font-size: 10vmin;
 font-family: 'Advent Pro', sans-serif;
 opacity: 0.85;
 color: black;
 text-align: center;
 position: relative;
 width: 100%;
 padding-top: 1vmin;
 text-shadow: 3px 3px 0px white;
 display: block;
 padding-bottom: 1vmin;
}

.l-title span {
  background-color: red;
  padding-top: 15px;
  color: white;
  text-shadow: none;
}

form paper-button, .footer paper-button {
  background-color: none;
  margin: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
}

    /* background for toolbar when it is at its full size */
    core-scroll-header-panel::shadow #headerBg {
      background-image: url("textures/nav.png");
      text-align: center;
    }

    /* background for toolbar when it is condensed */
    core-scroll-header-panel::shadow #condensedHeaderBg {
      background-color: black;
    }

    core-toolbar {
      background-color: transparent;
      text-align: center;
    }


paper-input-decorator /deep/ .focused-underline {
  background-color: white;
}

paper-tabs paper-tab::shadow #ink {
  color: white;
}
paper-tabs::shadow #selectionBar {
  background-color: black;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: white;
    opacity: 0.75;
}
paper-icon-button {
  color: white;
  position: relative;
}

.footer {
  position: fixed; 
  min-height: 7%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: black;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-size: 3vmin;
  border-top: 2px solid white;
  z-index: 1;

}
.footerWrapper {
    display: none;
}
    
body:hover .footerWrapper {
    -webkit-animation: fadein 1s;
    display: block;
}

.footer paper-button {
  background-color: none;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
  position: relative;

}

input#email, input#password {
  color: white;
}

paper-input-decorator /deep/ .label-text {
  color: white !important;
}

.splash paper-button{
  max-width: 25%;
  background-color: white;
  opacity: 0.75;
  background-color: none;
}
div.splash {

}

div.page {
  background-image: url("textures/paper.png");
  width: auto;
  height: 100%;
  left: 5%;
  right: 5%;
  position: absolute;
  text-align: center;
  font-size: 2vmin;
  background-color: none;
}

#iron-router-progress {
    background-color: black;
    box-shadow: 0 0 5px black;
    float: top;
}
