html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
core-scroll-header-panel {
  height: 100%;
}

core-toolbar {
  background-color: black;
  opacity: 0.95;
}
paper-tabs {
  color: white;
  height: 75%;
  width: 75%;
  opacity: 0.55;
  position: relative;

}

.m-header {
  font-size: 21px;
  color: white;
  text-align: center;
  width: 100%;
}

.h-title {
  font-size: 21px;
  color: white;
}
.d-title {
 font-size: auto;
 font-family: 'Advent Pro', sans-serif;
 opacity: 0.85;
 color: white;
 text-align: center;
 position: relative;
}
.d-title span {
  background-color: red;
  color: white;
  padding-top: 7px;
}

.r-title {
  color: white;
}

.video { 
  -webkit-filter: saturate(0.2) contrast(0.9);
  position: fixed;
  background-image: url("media/background.jpg");
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  z-index: -100;
  background-color: black;
  background-size: cover;
  object-fit: contain;
  transition: 1s opacity;
}

body:hover .video {
 /* -webkit-filter: grayscale(10%) blur(1px) contrast(85%) brightness(85%);*/
}

body:hover .register {
  background: rgba(0,0,0,0.5);
}

/*body:hover .l-title {
  -webkit-filter: grayscale(0%);
}*/
form { 
  -webkit-animation: fadein 4s;
  position: relative;
  width:40vmax;
  height:40vmax;
  border: 4px solid white;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-size: auto;
  border-radius: 50%;
  font-size: 1.5vw;
}
form::after {
  content: "";
  background-image: url("textures/texture.png");
  opacity: 0.40;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@-webkit-keyframes fadein {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0.33;}
    75%  {opacity:0.66;}
    100% {background: 1;}
}

.l-title {
 -webkit-animation: fadein 5s;
 font-size: 5rem;
 font-family: 'Advent Pro', sans-serif;
 opacity: 0.85;
 color: black;
 text-align: center;
 position: relative;
 margin: 0.5rem;
 width: 100%;
 padding-top: 0.5rem;
 text-shadow: 3px 3px 0px white;
 display: block;
}

.l-title span {
  background-color: red;
  padding-top: 15px;
  color: white;
  text-shadow: none;
}

form paper-button, .footer paper-button {
  background-color: none;
  margin: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
}

core-pages {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("textures/page.png");
}

core-toolbar.nav-toolbar {
  background-image: url("textures/header.png");
  opacity: 0.85;
  font-family: 'Advent Pro', sans-serif;
  border-right: 2px solid grey;
}
core-scroll-header-panel::shadow #headerBg {
    background-color: rgba(56,56,56,1);
    color: white;
}

core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: grey;
  color: white;
 }   

core-toolbar.main-toolbar {
      color: black;
      background-image: url("textures/footer.png");
    }

paper-input-decorator /deep/ .focused-underline {
  background-color: white;
}

paper-tabs paper-tab::shadow #ink {
  color: white;
}
paper-tabs::shadow #selectionBar {
  background-color: black;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: white;
    opacity: 0.75;
}
paper-icon-button {
  color: white;
  position: relative;
}

.footer {
  position: fixed; 
  min-height: 7%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: black;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-size: 1.2rem;
  border-top: 2px solid white;
  z-index: 1;

}
.footerWrapper {
    display: none;
}
    
body:hover .footerWrapper {
    -webkit-animation: fadein 1s;
    display: block;
}

.footer paper-button {
  background-color: none;
  color: white;
  border: 2px solid white;
  border-radius: 20%;
  position: relative;

}

input#email, input#password {
  color: white;
}
div.entry {
  width: 100%;
  height: 100%;
  position: relative;
}

paper-input-decorator /deep/ .label-text {
  color: white !important;
}

.splash {
  max-width: 25%;
}