
<!-- Logged In User View -->
<template name="homePage">
  <core-scroll-header-panel condenses="true" keepCondensedHeader="true">
    <core-toolbar class="tall" bottomJustify="center" justify="center" middleJustify="center">
    <!-- <core-icon-button icon="menu" core-drawer-toggle></core-icon-button> -->
    <h2 class="d-title middle"><span style="visibility: hidden;">|</span><span> F </span>.lunch</h2>
        <paper-tabs selected="{{selected}}" class="bottom fit">
            <paper-tab><a href="/">Home</a></paper-tab>
            <paper-tab><a href="/vote">Vote</a></paper-tab>
            <paper-tab><a href="/order">Order</a></paper-tab>
            <paper-tab><a href="/sign-out">Logout</a></paper-tab>
        </paper-tabs>
    </core-toolbar>
        <div class="page" vertical center-justified layout center>
        {{#momentum plugin='slide-height'}}
         {{> yield}}
        {{/momentum}}
        </div>
   </core-scroll-header-panel>
   <div class="footerWrapper">
    {{> footerDashboard}}
</div>
</template>