<!-- Splash Page -->
<template name="splash">
            <h1 vertical layout center>Fuzz Lunch</h1>
                <paper-button vertical layout center href="#create">Get Started</paper-button>
</template>

<!--   Icon Section   -->
<template name="icon">
    <h2><i class="mdi-image-flash-on blue-grey-text text-darken-3"></i></h2>
        <h3 vertical layout center><b>Team-Lunch Made To Order</b></h3>
            <p>Fuzz Lunch is a modern web application created to streamline team-lunch ordering. Efficient workflow is achieved through increased accessibility, in virtue of, enhanced visibility & simplistic design.</p>
</template>