<!-- User Auth View -->
<!-- User Register Form -->
<template name="signUp">
    <div class="entry" fit layout vertical center center-justified>
    <div class="entry-body">
    <form id="sign-up" vertical center-justified layout center>
        <h1 class="r-title" vertical start-justified layout center> Sign Up </h1>
             <paper-input-decorator floatingLabel label="email" labelVisible="false">
                <input is="core-input" type="email" id="email" required>
            </paper-input-decorator>
            <paper-input-decorator floatingLabel label="password" labelVisible="false">
                <input is="core-input" type="password" id="password" required>
            </paper-input-decorator>
             <paper-button type="submit" id="register" raised>Submit</paper-button>
    </form>
      </div>
  </div>
</template>