
<!-- Email Form -->
<!-- Hookup Email -->
<template name="create" >
    <h2 vertical layout center>Create Run</h2>
        <form class="create" vertical layout center data-action="email">
            <paper-input-decorator label="Your Name">
                <input is="core-input" id="runName">
            </paper-input-decorator>
            <paper-input-decorator label="Email">
                <input is="core-input" id="runEmail">
            </paper-input-decorator>
            <paper-input-decorator label="Message">
                <textarea id="runMessage"></textarea>
            </paper-input-decorator>
            <paper-button type="submit" value="createRun">Submit</paper-button>
        </form>
</template>