
<!-- Email Form -->
<!-- Hookup Email -->
<template name="create" >
    <h2 vertical layout center>Create Run</h2>
        <form class="create" vertical layout center>
            <paper-input-decorator label="Your Name">
                <input is="core-input" id="name">
            </paper-input-decorator>
            <paper-input-decorator label="Email">
                <input is="core-input" id="email">
            </paper-input-decorator>
            <paper-input-decorator label="Message">
                <textarea id="message"></textarea>
                  <paper-char-counter class="footer" target="#message"></paper-char-counter>
            </paper-input-decorator>
            <paper-button type="submit">Submit</paper-button>
        </form>
</template>